# Node
node_modules/

# Build outputs
out/
dist/
coverage/

# VS Code
.vscode/
.vscode-test/
.history/

# OS-specific
.DS_Store
Thumbs.db

# Package artifacts
*.vsix

# TypeScript
*.tsbuildinfo
*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env/config
.env
.env.*

# IDEs/editors
.idea/
*.iml
